$yellow: #EFCF00;
$red: #CE3131;
$darkblue: #265C83;
$lightblue: #C3DDF4;

img {
  vertical-align: middle;
}

@media screen and (min-width: 48em) {
  .bg-white-ns {
    background-color: white;
  }
}

.sans-serif {
  font-family: "Droid Sans", -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,Ubuntu,segoe ui,arial,sans-serif;
}

.serif {
  font-family: "Droid Serif", georgia,times,serif;
}

.code, code {
  font-family: "Droid Sans Mono", Consolas,monaco,monospace;
}

.bg-light-blue {
  background-color: $lightblue;
}

.bg-dark-blue {
  background-color: $darkblue;
}

.yellow { color: $yellow; }
.red { color: $red; }