/* https://coolors.co/app/265c83-c3ddf4-efcf00-ce8531-ce3131 */
/* https://coolors.co/app/265c83-c3ddf4-EFCF00-ce3131-265c83 */

$yellow: #EFCF00;
$orange: #CE8531;
$red: #CE3131;
$darkblue: #265C83;
$lightblue: #C3DDF4;

img {
  vertical-align: middle;
}

@media screen and (min-width: 48em) {
  .bg-white-ns {
    background-color: white;
  }
}

.sans-serif {
  font-family: "Droid Sans", -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,Ubuntu,segoe ui,arial,sans-serif;
}

.serif {
  font-family: "Droid Serif", georgia,times,serif;
}

.code, code {
  font-family: "Droid Sans Mono", Consolas,monaco,monospace;
}

.bg-light-blue {
  background-color: $lightblue;
}

.bg-dark-blue {
  background-color: $darkblue;
}

.yellow { color: $yellow; }
// .orange { color: $orange; }
// .red { color: $red; }